<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Energy</title>

    <!--Visualizations-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
      <!-- Header of the Website --> 
        <div class="row">
                <div class="col-md-12 text-center">
                    <h1 id="header">Energy Crystal Ball</h1>
                    <h1 id="header"> Energy Analysis looking forward </h1>
                </div>
            </div>
        
        
        <!-- Div for the Map -->
        <div class="map-container">
                <div id="map"></div>
            </div>
        <!-- Div for the Dropdown and sliders -->
        <div class="col-md-5">
                <div id="dropdown"></div>
                <div id="slider"></div>
                <div id="slider"></div>
            </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>